body {
  font-family: sans-serif;
}
.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inputs {
  margin: 20px;
}
.inputs label {
  margin-right: 5px;
}

.details {
  display: none;
}
.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10%;
}
.aBook {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid blue;
  margin: 5%;
  padding: 2%;
  max-height: 40vh;
  color: blue;
}
.aBook:hover {
  background-color: blue;
  color: white;
}
img {
  max-width: 104px;
  max-height: 104px;
  width: auto;
  height: auto;
}
.bar {
  font-family: Arial, Helvetica, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: blue;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.68);
}
input {
  background-color: blue;
  color: white;
  border: none;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 150px;
}
button {
  color: white;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 100%;
  height: 23px;
}
.resultsBar {
  background-color: rgba(255, 255, 255, 0.68);
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
select {
  color: white;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 100%;
  height: 23px;
}
.showing {
  background-color: rgba(255, 255, 255, 0.68);
  margin-left: 20px;
  margin-top: 10px;
}
