body {
  font-family: sans-serif;
}
.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inputs {
  margin: 20px;
}
.inputs label {
  margin-right: 5px;
}
.button {
  height: 20px;
}
